body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}


/* site title
----------------------------------------------------------*/
.site-title {
    color: #c8c8c8;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 0;
}

.site-title a, .site-title a:hover, .site-title a:active {
    background: url('../images/design/logo-bg.png') no-repeat;
    color: #c8c8c8;
    outline: none;
    text-indent: -9999px;
    float: left;
    width: 150px;
    height: 150px;
    margin-top:3px;
    text-decoration: none;
}



/* menu
----------------------------------------------------------*/

.navbar .nav li a ul li {
    /*float: none;*/
    padding: 0px;
    /*color: #777;*/
    text-decoration: none;
}


    .navbar .nav li a ul li:hover {
        /*float: none;*/
        padding: 0px;
        color: #000;
        background-color: #fff;
        text-decoration: underline;
    }

.navbar {
    background: url("../images/design/menu-top-bg.png") repeat-x;
    border: none !important;
    border-radius: 0px !important;
    margin-bottom: 0px;
}


    .navbar .nav.menu-header {
        margin: 16px 0 0 20px !important;
        text-transform: uppercase !important;
        font-size: 13px !important;
        font-family: Arial !important;
        color: #fff !important;
    }

        .navbar .nav.menu-header li a {
            color: #f6f6f6;
            text-decoration: none;
            background-color: transparent !important;
        }

            .navbar .nav.menu-header li a:hover {
                color: #77C84E !important;
                text-decoration: none;
            }

            .navbar .nav.menu-header li a:focus {
                color: #77C84E;
                text-decoration: none;
                background-color: transparent !important;
            }

.navbar-inverse .btn-link {
    margin-top: 5px !important;
    text-transform: uppercase !important;
    font-size: 13px !important;
    font-family: Arial !important;
    color: #fff !important;
    text-decoration: none !important;
    border: none;
}

button.btn-link:hover {
    color: #77C84E !important;
}

.navbar .nav li a {
    float: none;
    padding: 10px 15px 10px;
    /*color: #777;*/
    text-decoration: none;
}

.navbar-inverse .navbar-nav li a {
    color: #818181;
    outline: none;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: underline;
}

    .navbar-inverse .navbar-nav li a:hover {
        color: #77C84E;
        background-color: transparent !important;
    }




.menu-header li {
    padding-bottom: 14px;
}

    .menu-header li ul {
        position: absolute; /* Position absolue */
        left: -999em; /* Hop, on envoie loin du champ de vision */
        background-image: url('../images/design/bg-bloc.png');
        margin-top: 14px;
        text-align: left;
        /*width: 170px;*/
    }

        .menu-header li ul.menu-deroulant {
            padding-left: 20px;
            z-index: 9999;
        }

        .menu-header li ul li {
            list-style: none;
            padding: 0px 0px;
            /*margin: -22px 0 0 144px;*/
            /*border-left: 1px solid #fff;*/
        }

            .menu-header li ul li a:hover {
                color: #77C84E !important;
                background-color: #fff !important;
            }

        .menu-header li ul li /* Éléments de sous-listes */ {
            /* pour IE qui ne reconnaît pas "transparent" (comme précédemment) */
            border-top: 1px solid #fff; /* on met une bordure blanche en haut de chaque élément d'une sous liste */
        }





/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
